@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scrollY {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.animate-scroll-y {
  animation: scrollY 10s linear infinite;
}


:root {
  --feature-corner: 20px;
  --feature-gap: 4px;
  --tab-color-background: #ffe4e6;
  --tab-color-border: #fbcfe8;
}

.feature-tab-corners {
  z-index: 3;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  inset: auto 0 0 0;
  height: calc(var(--feature-corner) * 2);
  margin: 0 calc(var(--feature-corner) * -1);
}

.feature-tab-corner {
  width: var(--feature-corner);
  height: var(--feature-corner);
  background-image: radial-gradient(
    circle at 0 0,
    white calc(var(--feature-corner) - 2px),
    var(--tab-color-border),
    calc(var(--feature-corner) - 2px),
    var(--tab-color-border),
    var(--feature-corner),
    var(--tab-color-background) var(--feature-corner)
  );
  background-color: transparent;
  position: absolute;
  z-index: 1;
}

/* .feature-tab-corner.is-left {
  top: 50px;
  bottom: 0;
  left: 245px;
  right: 0;
  transform: rotate(90deg);
}

.feature-tab-corner.is-right {
  top: 50px;
  bottom: 0;
  left: -14px;
  right: 0;
  transform: rotate(360deg);
} */



.feature-tab-corner.is-left {
  top: 50px;
  left: 100%;
  transform: translateX(-6px) rotate(90deg);
}

.feature-tab-corner.is-right {
  top: 50px;
  right: 100%;
  transform: translateX(6px) rotate(360deg);
}

.middleContent {
  position: absolute;
  top: 44px;
  left: 4px;
  width: calc(100% - 8px);
  height: 25px;
  background-color: var(--tab-color-background);
}



.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}